<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

    <body>

        <header>
        	<div class="headerwrapper">
        		<%- include('partials/header-left') %>
        		<%- include('partials/header-right') %>
        	</div>
        </header>

		<section>
			<div class="mainwrapper">
				<%- include('partials/left-panel') %>
				<div class="mainpanel">
					<div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <i class="fa fa-gear"></i>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                                    <li>DTW</li>
                                </ul>
                                <h4>DTW</h4>
                            </div>
                        </div>
                    </div>
					<div class="contentpanel">
					 	<div class="row row-stat">
                        	<div id="dtw"></div>
                        	<div id="loader" class="loading">
                                <img src="images/loader.gif" alt="loader">
                            </div>
                    	</div>
 					</div>
				</div>
			</div>
		</section>
		        
		<%- include('partials/scripts-js') %>

		<script>
			// Init url
            var url = 'http://localhost:8080';
            var socket = io.connect(url);

			var colors = ['#7cb5ec', '#f45b5b', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'];

            /* DTW */
            socket.emit('get_dtw');

            socket.on('return_info_dtw', function (dtwData) {
                console.log(dtwData);
                $("#loader").css('display', 'none');

				var listVariances = [];
				dtwData.forEach(function(route, i){
					var variances = {
						name: 'Route ' + (i+1),
						data: route,
						color: colors[i],
						lineWidth:0
					};
					listVariances.push(variances);
				});

				Highcharts.chart('dtw', {
					chart: {
						height:640
					},
					plotOptions: {
						line:{
							lineWidth: 1,
							marker:{
								enabled:true
							}
						}
					},
					title: {
						text: 'Profile of the workdays',
						x: -20 //center
					},
					subtitle: {
						text: 'Estimated time vs real times',
						x: -20
					},
					xAxis: {
						title: {
							text: 'Days (j)'
						}
					},
					yAxis: {
						title: {
							text: 'Variance'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					},
					tooltip: {
						valueSuffix: 'h'
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					series: listVariances
				});

            });
		</script>
	</body>
</html>