<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

    <body>

        <header>
        	<div class="headerwrapper">
        		<%- include('partials/header-left') %>
        		<%- include('partials/header-right') %>
        	</div>
        </header>

		<section>
			<div class="mainwrapper">
				<%- include('partials/left-panel') %>
				<div class="mainpanel">
					<%- include('partials/page-header') %>
					 <div class="contentpanel">
				 		<div class="row row-stat">
                        	<h3>Horaires de bus</h3>
                        	<h3>Ligne 82</h3><br>
                    		<h4>Lundi à vendredi</h4>
                    		<div class="col-md-6 htable">
                    			<p>Horaires prévus</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:10</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:14</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:10</td>
								    <td class="tg-6k2t">08:12</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:15</td>
								    <td class="tg-yw4l">08:18</td>
								    <td class="tg-6k2t">08:20</td>
								    <td class="tg-yw4l">08:23</td>
								    <td class="tg-6k2t">08:24</td>
								    <td class="tg-yw4l">08:26</td>
								    <td class="tg-6k2t">08:27</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:20</td>
								    <td class="tg-6k2t">08:22</td>
								    <td class="tg-yw4l">08:23</td>
								    <td class="tg-6k2t">08:25</td>
								    <td class="tg-yw4l">08:28</td>
								    <td class="tg-6k2t">08:30</td>
								    <td class="tg-yw4l">08:33</td>
								    <td class="tg-6k2t">08:34</td>
								    <td class="tg-yw4l">08:36</td>
								    <td class="tg-6k2t">08:37</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:30</td>
								    <td class="tg-6k2t">08:32</td>
								    <td class="tg-yw4l">08:33</td>
								    <td class="tg-6k2t">08:35</td>
								    <td class="tg-yw4l">08:38</td>
								    <td class="tg-6k2t">08:40</td>
								    <td class="tg-yw4l">08:43</td>
								    <td class="tg-6k2t">08:44</td>
								    <td class="tg-yw4l">08:46</td>
								    <td class="tg-6k2t">08:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:40</td>
								    <td class="tg-6k2t">08:42</td>
								    <td class="tg-yw4l">08:43</td>
								    <td class="tg-6k2t">08:45</td>
								    <td class="tg-yw4l">08:48</td>
								    <td class="tg-6k2t">08:50</td>
								    <td class="tg-yw4l">08:53</td>
								    <td class="tg-6k2t">08:54</td>
								    <td class="tg-yw4l">08:56</td>
								    <td class="tg-6k2t">08:57</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:50</td>
								    <td class="tg-6k2t">08:52</td>
								    <td class="tg-yw4l">08:53</td>
								    <td class="tg-6k2t">08:55</td>
								    <td class="tg-yw4l">08:58</td>
								    <td class="tg-6k2t">09:00</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:04</td>
								    <td class="tg-yw4l">09:06</td>
								    <td class="tg-6k2t">09:07</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:05</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:10</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:16</td>
								    <td class="tg-6k2t">09:17</td>
								  </tr>
								</table>
							</div>
							<div class="col-md-6 htable">
								<p>Horaires réels du mardi 13 février 2007</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:06</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:11</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:19</td>
								    <td class="tg-yw4l">08:24</td>
								    <td class="tg-6k2t">08:27</td>
								    <td class="tg-yw4l">08:31</td>
								    <td class="tg-6k2t">08:33</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:10</td>
								    <td class="tg-6k2t">08:16</td>
								    <td class="tg-yw4l">08:18</td>
								    <td class="tg-6k2t">08:21</td>
								    <td class="tg-yw4l">08:26</td>
								    <td class="tg-6k2t">08:29</td>
								    <td class="tg-yw4l">08:34</td>
								    <td class="tg-6k2t">08:37</td>
								    <td class="tg-yw4l">08:41</td>
								    <td class="tg-6k2t">08:44</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:20</td>
								    <td class="tg-6k2t">08:25</td>
								    <td class="tg-yw4l">08:28</td>
								    <td class="tg-6k2t">08:32</td>
								    <td class="tg-yw4l">08:39</td>
								    <td class="tg-6k2t">08:42</td>
								    <td class="tg-yw4l">08:47</td>
								    <td class="tg-6k2t">08:51</td>
								    <td class="tg-yw4l">08:55</td>
								    <td class="tg-6k2t">08:59</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:30</td>
								    <td class="tg-6k2t">08:36</td>
								    <td class="tg-yw4l">08:40</td>
								    <td class="tg-6k2t">08:44</td>
								    <td class="tg-yw4l">08:48</td>
								    <td class="tg-6k2t">08:50</td>
								    <td class="tg-yw4l">08:56</td>
								    <td class="tg-6k2t">09:00</td>
								    <td class="tg-yw4l">09:06</td>
								    <td class="tg-6k2t">09:10</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:40</td>
								    <td class="tg-6k2t">08:47</td>
								    <td class="tg-yw4l">08:52</td>
								    <td class="tg-6k2t">08:56</td>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:03</td>
								    <td class="tg-yw4l">09:10</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:20</td>
								    <td class="tg-6k2t">09:25</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:50</td>
								    <td class="tg-6k2t">08:56</td>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:05</td>
								    <td class="tg-yw4l">09:10</td>
								    <td class="tg-6k2t">09:13</td>
								    <td class="tg-yw4l">09:20</td>
								    <td class="tg-6k2t">09:24</td>
								    <td class="tg-yw4l">09:30</td>
								    <td class="tg-6k2t">09:36</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:04</td>
								    <td class="tg-yw4l">09:07</td>
								    <td class="tg-6k2t">09:09</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:17</td>
								    <td class="tg-yw4l">09:19</td>
								    <td class="tg-6k2t">09:23</td>
								    <td class="tg-yw4l">09:28</td>
								    <td class="tg-6k2t">09:31</td>
								  </tr>
								</table>
							</div>
							<h4>Samedi</h4>
							<div class="col-md-6 htable">
								<p>Horaires prévus</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:10</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:14</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:20</td>
								    <td class="tg-6k2t">08:22</td>
								    <td class="tg-yw4l">08:23</td>
								    <td class="tg-6k2t">08:25</td>
								    <td class="tg-yw4l">08:28</td>
								    <td class="tg-6k2t">08:30</td>
								    <td class="tg-yw4l">08:33</td>
								    <td class="tg-6k2t">08:34</td>
								    <td class="tg-yw4l">08:36</td>
								    <td class="tg-6k2t">08:37</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:40</td>
								    <td class="tg-6k2t">08:42</td>
								    <td class="tg-yw4l">08:43</td>
								    <td class="tg-6k2t">08:45</td>
								    <td class="tg-yw4l">08:48</td>
								    <td class="tg-6k2t">08:50</td>
								    <td class="tg-yw4l">08:53</td>
								    <td class="tg-6k2t">08:54</td>
								    <td class="tg-yw4l">08:56</td>
								    <td class="tg-6k2t">08:57</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:05</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:10</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:16</td>
								    <td class="tg-6k2t">09:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:20</td>
								    <td class="tg-6k2t">09:22</td>
								    <td class="tg-yw4l">09:23</td>
								    <td class="tg-6k2t">09:25</td>
								    <td class="tg-yw4l">09:28</td>
								    <td class="tg-6k2t">09:30</td>
								    <td class="tg-yw4l">09:33</td>
								    <td class="tg-6k2t">09:34</td>
								    <td class="tg-yw4l">09:36</td>
								    <td class="tg-6k2t">09:37</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:40</td>
								    <td class="tg-6k2t">09:42</td>
								    <td class="tg-yw4l">09:43</td>
								    <td class="tg-6k2t">09:45</td>
								    <td class="tg-yw4l">09:48</td>
								    <td class="tg-6k2t">09:50</td>
								    <td class="tg-yw4l">09:53</td>
								    <td class="tg-6k2t">09:54</td>
								    <td class="tg-yw4l">09:56</td>
								    <td class="tg-6k2t">09:57</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:00</td>
								    <td class="tg-6k2t">10:02</td>
								    <td class="tg-yw4l">10:03</td>
								    <td class="tg-6k2t">10:05</td>
								    <td class="tg-yw4l">10:08</td>
								    <td class="tg-6k2t">10:10</td>
								    <td class="tg-yw4l">10:13</td>
								    <td class="tg-6k2t">10:14</td>
								    <td class="tg-yw4l">10:16</td>
								    <td class="tg-6k2t">10:17</td>
								  </tr>
								</table>
							</div>
							<div class="col-md-6 htable">
								<p>Horaires réels du samedi 1er septembre 2007</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:11</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:14</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:20</td>
								    <td class="tg-6k2t">08:22</td>
								    <td class="tg-yw4l">08:23</td>
								    <td class="tg-6k2t">08:25</td>
								    <td class="tg-yw4l">08:28</td>
								    <td class="tg-6k2t">08:30</td>
								    <td class="tg-yw4l">08:33</td>
								    <td class="tg-6k2t">08:35</td>
								    <td class="tg-yw4l">08:38</td>
								    <td class="tg-6k2t">08:39</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:40</td>
								    <td class="tg-6k2t">08:43</td>
								    <td class="tg-yw4l">08:44</td>
								    <td class="tg-6k2t">08:46</td>
								    <td class="tg-yw4l">08:48</td>
								    <td class="tg-6k2t">08:50</td>
								    <td class="tg-yw4l">08:53</td>
								    <td class="tg-6k2t">08:54</td>
								    <td class="tg-yw4l">08:57</td>
								    <td class="tg-6k2t">08:59</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:06</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:10</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:15</td>
								    <td class="tg-yw4l">09:17</td>
								    <td class="tg-6k2t">09:19</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:20</td>
								    <td class="tg-6k2t">09:22</td>
								    <td class="tg-yw4l">09:24</td>
								    <td class="tg-6k2t">09:26</td>
								    <td class="tg-yw4l">09:29</td>
								    <td class="tg-6k2t">09:32</td>
								    <td class="tg-yw4l">09:34</td>
								    <td class="tg-6k2t">09:36</td>
								    <td class="tg-yw4l">09:39</td>
								    <td class="tg-6k2t">09:41</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:40</td>
								    <td class="tg-6k2t">09:42</td>
								    <td class="tg-yw4l">09:44</td>
								    <td class="tg-6k2t">09:46</td>
								    <td class="tg-yw4l">09:48</td>
								    <td class="tg-6k2t">09:50</td>
								    <td class="tg-yw4l">09:53</td>
								    <td class="tg-6k2t">09:55</td>
								    <td class="tg-yw4l">09:59</td>
								    <td class="tg-6k2t">10:01</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:00</td>
								    <td class="tg-6k2t">10:02</td>
								    <td class="tg-yw4l">10:03</td>
								    <td class="tg-6k2t">10:05</td>
								    <td class="tg-yw4l">10:08</td>
								    <td class="tg-6k2t">10:10</td>
								    <td class="tg-yw4l">10:14</td>
								    <td class="tg-6k2t">10:16</td>
								    <td class="tg-yw4l">10:18</td>
								    <td class="tg-6k2t">10:20</td>
								  </tr>
								</table>
							</div>
							<h4>Dimanche et jours fériés</h4>
							<div class="col-md-6 htable">
								<p>Horaires prévus</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:11</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:14</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:05</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:11</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:16</td>
								    <td class="tg-6k2t">09:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:00</td>
								    <td class="tg-6k2t">10:02</td>
								    <td class="tg-yw4l">10:03</td>
								    <td class="tg-6k2t">10:05</td>
								    <td class="tg-yw4l">10:08</td>
								    <td class="tg-6k2t">10:11</td>
								    <td class="tg-yw4l">10:13</td>
								    <td class="tg-6k2t">10:14</td>
								    <td class="tg-yw4l">10:16</td>
								    <td class="tg-6k2t">10:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">11:00</td>
								    <td class="tg-6k2t">11:02</td>
								    <td class="tg-yw4l">11:03</td>
								    <td class="tg-6k2t">11:05</td>
								    <td class="tg-yw4l">11:08</td>
								    <td class="tg-6k2t">11:11</td>
								    <td class="tg-yw4l">11:13</td>
								    <td class="tg-6k2t">11:14</td>
								    <td class="tg-yw4l">11:16</td>
								    <td class="tg-6k2t">11:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">12:00</td>
								    <td class="tg-6k2t">12:02</td>
								    <td class="tg-yw4l">12:03</td>
								    <td class="tg-6k2t">12:05</td>
								    <td class="tg-yw4l">12:08</td>
								    <td class="tg-6k2t">12:11</td>
								    <td class="tg-yw4l">12:13</td>
								    <td class="tg-6k2t">12:14</td>
								    <td class="tg-yw4l">12:16</td>
								    <td class="tg-6k2t">12:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">13:00</td>
								    <td class="tg-6k2t">13:02</td>
								    <td class="tg-yw4l">13:03</td>
								    <td class="tg-6k2t">13:05</td>
								    <td class="tg-yw4l">13:08</td>
								    <td class="tg-6k2t">13:11</td>
								    <td class="tg-yw4l">13:13</td>
								    <td class="tg-6k2t">13:14</td>
								    <td class="tg-yw4l">13:16</td>
								    <td class="tg-6k2t">13:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">14:00</td>
								    <td class="tg-6k2t">14:02</td>
								    <td class="tg-yw4l">14:03</td>
								    <td class="tg-6k2t">14:05</td>
								    <td class="tg-yw4l">14:08</td>
								    <td class="tg-6k2t">14:11</td>
								    <td class="tg-yw4l">14:13</td>
								    <td class="tg-6k2t">14:14</td>
								    <td class="tg-yw4l">14:16</td>
								    <td class="tg-6k2t">14:18</td>
								  </tr>
								</table>
							</div>
							<div class="col-md-6 htable">
								<p>Horaires réels du dimanche 8 avril 2007</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:12</td>
								    <td class="tg-yw4l">08:14</td>
								    <td class="tg-6k2t">08:15</td>
								    <td class="tg-yw4l">08:17</td>
								    <td class="tg-6k2t">08:20</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:06</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:11</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:17</td>
								    <td class="tg-6k2t">09:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:00</td>
								    <td class="tg-6k2t">10:02</td>
								    <td class="tg-yw4l">10:03</td>
								    <td class="tg-6k2t">10:05</td>
								    <td class="tg-yw4l">10:08</td>
								    <td class="tg-6k2t">10:11</td>
								    <td class="tg-yw4l">10:15</td>
								    <td class="tg-6k2t">10:17</td>
								    <td class="tg-yw4l">10:18</td>
								    <td class="tg-6k2t">10:21</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">11:00</td>
								    <td class="tg-6k2t">11:02</td>
								    <td class="tg-yw4l">11:03</td>
								    <td class="tg-6k2t">11:05</td>
								    <td class="tg-yw4l">11:08</td>
								    <td class="tg-6k2t">11:11</td>
								    <td class="tg-yw4l">11:13</td>
								    <td class="tg-6k2t">11:14</td>
								    <td class="tg-yw4l">11:17</td>
								    <td class="tg-6k2t">11:19</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">12:00</td>
								    <td class="tg-6k2t">12:02</td>
								    <td class="tg-yw4l">12:03</td>
								    <td class="tg-6k2t">12:05</td>
								    <td class="tg-yw4l">12:08</td>
								    <td class="tg-6k2t">12:11</td>
								    <td class="tg-yw4l">12:13</td>
								    <td class="tg-6k2t">12:14</td>
								    <td class="tg-yw4l">12:16</td>
								    <td class="tg-6k2t">12:19</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">13:00</td>
								    <td class="tg-6k2t">13:02</td>
								    <td class="tg-yw4l">13:03</td>
								    <td class="tg-6k2t">13:05</td>
								    <td class="tg-yw4l">13:08</td>
								    <td class="tg-6k2t">13:12</td>
								    <td class="tg-yw4l">13:14</td>
								    <td class="tg-6k2t">13:16</td>
								    <td class="tg-yw4l">13:18</td>
								    <td class="tg-6k2t">13:21</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">14:00</td>
								    <td class="tg-6k2t">14:02</td>
								    <td class="tg-yw4l">14:03</td>
								    <td class="tg-6k2t">14:05</td>
								    <td class="tg-yw4l">14:08</td>
								    <td class="tg-6k2t">14:11</td>
								    <td class="tg-yw4l">14:13</td>
								    <td class="tg-6k2t">14:15</td>
								    <td class="tg-yw4l">14:17</td>
								    <td class="tg-6k2t">14:19</td>
								  </tr>
								</table>
							</div>
							<h4>Lundi à vendredi en vacances d'été (15 Juillet - 15 Septembre)</h4>
							<div class="col-md-6 htable">
								<p>Horaires prévus</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:10</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:14</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:30</td>
								    <td class="tg-6k2t">08:32</td>
								    <td class="tg-yw4l">08:33</td>
								    <td class="tg-6k2t">08:35</td>
								    <td class="tg-yw4l">08:38</td>
								    <td class="tg-6k2t">08:40</td>
								    <td class="tg-yw4l">08:43</td>
								    <td class="tg-6k2t">08:44</td>
								    <td class="tg-yw4l">08:46</td>
								    <td class="tg-6k2t">08:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:05</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:10</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:16</td>
								    <td class="tg-6k2t">09:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:30</td>
								    <td class="tg-6k2t">09:32</td>
								    <td class="tg-yw4l">09:33</td>
								    <td class="tg-6k2t">09:35</td>
								    <td class="tg-yw4l">09:38</td>
								    <td class="tg-6k2t">09:40</td>
								    <td class="tg-yw4l">09:43</td>
								    <td class="tg-6k2t">09:44</td>
								    <td class="tg-yw4l">09:46</td>
								    <td class="tg-6k2t">09:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:00</td>
								    <td class="tg-6k2t">10:02</td>
								    <td class="tg-yw4l">10:03</td>
								    <td class="tg-6k2t">10:05</td>
								    <td class="tg-yw4l">10:08</td>
								    <td class="tg-6k2t">10:10</td>
								    <td class="tg-yw4l">10:13</td>
								    <td class="tg-6k2t">10:14</td>
								    <td class="tg-yw4l">10:16</td>
								    <td class="tg-6k2t">10:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:30</td>
								    <td class="tg-6k2t">10:32</td>
								    <td class="tg-yw4l">10:33</td>
								    <td class="tg-6k2t">10:35</td>
								    <td class="tg-yw4l">10:38</td>
								    <td class="tg-6k2t">10:40</td>
								    <td class="tg-yw4l">10:43</td>
								    <td class="tg-6k2t">10:44</td>
								    <td class="tg-yw4l">10:46</td>
								    <td class="tg-6k2t">10:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">11:00</td>
								    <td class="tg-6k2t">11:02</td>
								    <td class="tg-yw4l">11:03</td>
								    <td class="tg-6k2t">11:05</td>
								    <td class="tg-yw4l">11:08</td>
								    <td class="tg-6k2t">11:10</td>
								    <td class="tg-yw4l">11:13</td>
								    <td class="tg-6k2t">11:14</td>
								    <td class="tg-yw4l">11:16</td>
								    <td class="tg-6k2t">11:17</td>
								  </tr>
								</table>
							</div>
							<div class="col-md-6 htable">
								<p>Horaires réels du lundi 27 juillet 2007</p>
								<table class="tg">
								  <tr>
								    <th class="tg-031e">Arrêt 1</th>
								    <th class="tg-yw4l">Arrêt 2</th>
								    <th class="tg-yw4l">Arrêt 3</th>
								    <th class="tg-yw4l">Arrêt 4</th>
								    <th class="tg-yw4l">Arrêt 5</th>
								    <th class="tg-yw4l">Arrêt 6</th>
								    <th class="tg-yw4l">Arrêt 7</th>
								    <th class="tg-yw4l">Arrêt 8</th>
								    <th class="tg-yw4l">Arrêt 9</th>
								    <th class="tg-yw4l">Arrêt 10</th>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:00</td>
								    <td class="tg-6k2t">08:02</td>
								    <td class="tg-yw4l">08:03</td>
								    <td class="tg-6k2t">08:05</td>
								    <td class="tg-yw4l">08:08</td>
								    <td class="tg-6k2t">08:10</td>
								    <td class="tg-yw4l">08:13</td>
								    <td class="tg-6k2t">08:14</td>
								    <td class="tg-yw4l">08:16</td>
								    <td class="tg-6k2t">08:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">08:30</td>
								    <td class="tg-6k2t">08:32</td>
								    <td class="tg-yw4l">08:33</td>
								    <td class="tg-6k2t">08:35</td>
								    <td class="tg-yw4l">08:38</td>
								    <td class="tg-6k2t">08:40</td>
								    <td class="tg-yw4l">08:43</td>
								    <td class="tg-6k2t">08:44</td>
								    <td class="tg-yw4l">08:46</td>
								    <td class="tg-6k2t">08:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:00</td>
								    <td class="tg-6k2t">09:02</td>
								    <td class="tg-yw4l">09:03</td>
								    <td class="tg-6k2t">09:05</td>
								    <td class="tg-yw4l">09:08</td>
								    <td class="tg-6k2t">09:10</td>
								    <td class="tg-yw4l">09:13</td>
								    <td class="tg-6k2t">09:14</td>
								    <td class="tg-yw4l">09:16</td>
								    <td class="tg-6k2t">09:17</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">09:30</td>
								    <td class="tg-6k2t">09:32</td>
								    <td class="tg-yw4l">09:33</td>
								    <td class="tg-6k2t">09:37</td>
								    <td class="tg-yw4l">09:38</td>
								    <td class="tg-6k2t">09:40</td>
								    <td class="tg-yw4l">09:43</td>
								    <td class="tg-6k2t">09:44</td>
								    <td class="tg-yw4l">09:46</td>
								    <td class="tg-6k2t">09:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:00</td>
								    <td class="tg-6k2t">10:02</td>
								    <td class="tg-yw4l">10:03</td>
								    <td class="tg-6k2t">10:05</td>
								    <td class="tg-yw4l">10:08</td>
								    <td class="tg-6k2t">10:10</td>
								    <td class="tg-yw4l">10:13</td>
								    <td class="tg-6k2t">10:14</td>
								    <td class="tg-yw4l">10:16</td>
								    <td class="tg-6k2t">10:18</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">10:30</td>
								    <td class="tg-6k2t">10:32</td>
								    <td class="tg-yw4l">10:33</td>
								    <td class="tg-6k2t">10:35</td>
								    <td class="tg-yw4l">10:38</td>
								    <td class="tg-6k2t">10:41</td>
								    <td class="tg-yw4l">10:43</td>
								    <td class="tg-6k2t">10:44</td>
								    <td class="tg-yw4l">10:46</td>
								    <td class="tg-6k2t">10:47</td>
								  </tr>
								  <tr>
								    <td class="tg-yw4l">11:00</td>
								    <td class="tg-6k2t">11:02</td>
								    <td class="tg-yw4l">11:03</td>
								    <td class="tg-6k2t">11:05</td>
								    <td class="tg-yw4l">11:08</td>
								    <td class="tg-6k2t">11:10</td>
								    <td class="tg-yw4l">11:13</td>
								    <td class="tg-6k2t">11:14</td>
								    <td class="tg-yw4l">11:16</td>
								    <td class="tg-6k2t">11:17</td>
								  </tr>
								</table>
							</div>
                    	</div>
 					</div>
				</div>
			</div>
		</section>
		        
		<%- include('partials/scripts-js') %>
        
	</body>
</html>