<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

    <body>

        <header>
        	<div class="headerwrapper">
        		<%- include('partials/header-left') %>
        		<%- include('partials/header-right') %>
        	</div>
        </header>

		<section>
			<div class="mainwrapper">
				<%- include('partials/left-panel') %>
				<div class="mainpanel">
					<div class="pageheader">
					    <div class="media">
					        <div class="pageicon pull-left">
					            <i class="fa fa-home"></i>
					        </div>
					        <div class="media-body">
					            <ul class="breadcrumb">
					                <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
					                <li>Accueil</li>
					            </ul>
					            <h4>Accueil</h4>
					        </div>
					    </div>
					</div>
					<div class="contentpanel"></div>
				</div>
			</div>
		</section>
		        
		<%- include('partials/scripts-js') %>

		<script>
			// Init url
            var url = 'http://localhost:8080';
            var socket = io.connect(url);
		</script>
		
	</body>
</html>