<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

    <body>

        <header>
        	<div class="headerwrapper">
        		<%- include('partials/header-left') %>
        		<%- include('partials/header-right') %>
        	</div>
        </header>

		<section>
			<div class="mainwrapper">
				<%- include('partials/left-panel') %>
				<div class="mainpanel">
					<div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <i class="fa fa-gear"></i>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
                                    <li>K-Means</li>
                                </ul>
                                <h4>K-Means</h4>
                            </div>
                        </div>
                    </div>
					<div class="contentpanel">
					    <div class="row row-stat">
                        	<div id="kmeans"></div>
                            <div id="loader" class="loading">
                                <img src="images/loader.gif" alt="loader">
                            </div>
                        </div>
 					</div>
				</div>
			</div>
		</section>
		        
		<%- include('partials/scripts-js') %>

		<script>
			// Init url
            var url = 'http://localhost:8080';
            var socket = io.connect(url);

            /*K-MEANS */
            socket.emit('get_kmeans');

            socket.on('return_info', function (data) {
                console.log(data);
                $("#loader").css('display', 'none');

                Highcharts.chart('kmeans', {
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy',
                        width:1024,
                        height:600
                    },
                    title: {
                        text: 'Schedules clusters'
                    },
                    subtitle: {
                        text: 'Source: Data 2016'
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Height (cm)'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: 'Weight (kg)'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 100,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: '{point.x} cm, {point.y} kg'
                            }
                        }
                    },
                    series: data
                });
            });
		</script>
	</body>
</html>